@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  font-family: 'Noto Sans JP', 'sans-serif';
}

.swiper .swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background: #ccc;
  opacity: 0.5;
  transition: all 0.3s;
}

.swiper .swiper-pagination-bullet-active  {
  background: #333;
  opacity: 1;
}


